<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
             <button>HỌC NGAY</button>
        </div>
        <div class="col-lg-9">
            <h2>Title</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/u94mkgt1pgk?si=bhs4TF3QGkL0l6o6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Tham gia nhóm Học lập trình tại F8 trên Facebook để cùng nhau trao đổi trong quá trình học tập ❤️</p>
            <p>Các bạn subscribe kênh Youtube F8 Official để nhận thông báo khi có các bài học mới nhé ❤️</p>
        </div>
    </div>
</div>