<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="app">

        {{> page/header}}

        <div class="container">
            {{!-- chứa content của trang view khi được render --}}
            {{{body}}}  
        </div>

        {{> page/footer}}
        
    </div>

</body>

</html>